.image{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.name{
  font-family: Arial, Helvetica, sans-serif;
}

.designation{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}