*{
  margin: 0;
  box-sizing: border-box;
}

.card_container{
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 100px;
}

.card{
  height: 400px;
  width: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid rgba(0, 0, 0, 0.441);
  transition: 0.5s;
}

.card:hover{
  scale: 1.08;
  translate: 0px -10px;
}
button{
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: none;
}